.wrap {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4em;
  font-family: impact;
}


.firetext {
  text-align: center;
  display: block;
  background: url('/images/fire.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation:fire 1.5s linear infinite;
  -moz-animation:fire 1.5s linear infinite;
}

@keyframes fire {
  0%{background-position: 0% 50%;}
  0%{background-position: 100% -50%;}
}
.carotext {
  color: rgb(255, 210, 0);
  font-family: impact;
}

.carousel-item::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 3, 88, 0) 0, #000358 100%);
  margin-top: -400px;
  height: 400px;
  width: 100%;
  content: '';
}
